<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MovieDbApiKey" value="372cb4e5c2e86141f6c2b990c93e2b4b" />
    <add key="MovieDbBaseUrl" value="https://api.themoviedb.org/3/search/multi" />
    <add key="MoviePosterUrl" value="https://image.tmdb.org/t/p/w500" />
  </appSettings>
</configuration>