<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MovieDbApiKey" value="372cb4e5c2e86141f6c2b990c93e2b4b" />
    <add key="MovieDbBaseUrl" value="https://api.themoviedb.org/3/search/multi" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>